{% extends "base.html" %}
{% load i18n markdown_extras %}

{% block title %}{{ coursematerial }}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-6">
    <a href="{% url 'teaching:coursematerial-list' %}">← {% trans "Back to the list" %}</a>
    <h1>{{ coursematerial }}</h1>
    {% if perms.teaching.change_coursematerial %}
      <div class="text-right">
      <a href="{% url 'teaching:coursematerial-update' coursematerial.pk %}" class="btn btn-secondary btn-sm">{% trans "Edit" %}</a>
      </div>
    {% endif %}

    <p class="small">{% trans "by" %} {{ coursematerial.author.name }}

    {% if coursematerial.format %}<br>
      {{ coursematerial.format }}
    {% endif %}
    {% if coursematerial.contributors.all %}<br>
    {% for contributor in coursematerial.contributors.all %}
      {{ contributor }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}

    {% if coursematerial.tags.all %}<br>
    {% for tag in coursematerial.tags.all %}
      {{ tag }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}
    </p>

    {% if coursematerial.resource_license %}
    <p><strong>{% trans "License:" %}</strong> {{ coursematerial.resource_license }}</p>
    {% endif %}
    {% if coursematerial.level %}
    <p><strong>{% trans "Level:" %}</strong> {{ coursematerial.level }}</p>
    {% endif %}

    <p>{{ coursematerial.description | markdown | safe }}</p>

    {% if coursematerial.course_url %}
    <p>
      🔗 <a href="{{ coursematerial.course_url }}" target="_blank">{% trans "See online" %}</a>
    </p>
    {% endif %}

  </div>
</div>

{% endblock %}
