{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Pending course material list" %}{% endblock %}

{% block content %}

<h1>{% trans "Pending course material list" %}</h1>

{% if object_list %}

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th class="d-none d-sm-table-cell">Meta</th>
    {% if perms.teaching.change_coursematerial %}
    <th>Actions</th>
    {% endif %}
  </tr>
  {% for course in object_list %}
  <tr>
    <td>
      <h2 class="h3"><a href="{% url 'teaching:coursematerial-detail' course.id %}">{{ course }}</a></h2>
      <small>
      by {{ course.author }}<br>
      {% if course.resource_license %}
      {{ course.resource_license }}
      {% else %}
      {% trans "Non libre" %}
      {% endif %}
      {% if course.level %}<br>
      {{ course.level }}
      {% endif %}
      {% if course.tags.all %}<br>
      {% for tag in course.tags.all %}
        {{ tag }}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% endif %}
      </small>
    </td>
    <td>
      {{ course.description }}<br>
      <a href="{{ course.course_url }}" target="_blank">
        <span>{% trans "Direct link" %}</span>
      </a>
    </td>
    <td class="d-none d-sm-table-cell">
      {{ course.level }}<br>
      {{ course.license }}<br>
    </td>
    {% if perms.teaching.change_coursematerial %}
    <td>
        <p>
          <a class="btn btn-primary btn-sm" href="{% url 'teaching:coursematerial-update' course.id %}">Edit</a>
        </p>
        {{ course.status }}
        <form action="{% url 'teaching:coursematerial-change-status' course.id %}" method="post">
          {% csrf_token %}
          {{ form.status }}
          <input class="btn btn-success btn-sm" type="submit" value="Ok" />
        </form>
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% else %}

<p>{% trans "No pending courses." %}</p>

{% endif %}

{% endblock %}
