{% extends "base.html" %}
{% load static i18n bootstrap4 %}

{% block title %}{% trans "Course material list" %}{% endblock %}

{% block extra_head %}
{{ search_form.media.css }}
{% endblock %}

{% block extra_js%}
{{ search_form.media.js }}
{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}

<h1>{% trans "Course material list" %}</h1>


<form class="add-course-form" action="{% url 'teaching:coursematerial-create' %}" method="get">
    {% csrf_token %}
    <div class="form-inline justify-content-end">
        {% bootstrap_field create_form.page_url layout='inline' form_group_class='form-group mr-sm-2' %}
        <button class="btn btn-info" type="submit">
        {% trans "Add a resource" %}
        </button>
    </div>
</form>

<p class="text-right">
  <a href="{% url 'teaching:coursematerial-pending-list' %}">&RightArrow; {% trans "Pending course material list" %}</a>
</p>

<div class="search-form mb-4">

<form action="{% url 'teaching:coursematerial-list' %}" method="get">
    <div class="form-inline">
        {% bootstrap_field search_form.q_term layout='inline' form_group_class='form-group flex-fill mr-sm-2' %}
        {% bootstrap_field search_form.q_tags layout='inline' form_group_class='form-group flex-fill mr-sm-2' %}
        {% bootstrap_field search_form.q_format layout='inline' form_group_class='form-group flex-fill mr-sm-2' %}
        {% bootstrap_field search_form.q_published layout='inline' form_group_class='form-group mr-sm-2' %}
        {% buttons form_group_class='form-group ml-sm-4' %}
        {# {% bootstrap_button "Reset" button_type="reset" button_class="btn-light mr-2" %} #}
        {% bootstrap_button "Search" button_type="submit" button_class="btn-success" %}
        {% endbuttons %}
    </div>
</form>
</div>

{% if object_list %}

<div class="row">

  {% for course in object_list %}
  <div class="col-sm-6 col-md-4">
    <div class="card mb-3 {{ course.status|lower }}">
      {% include "teaching/_partials/course_card.html" %}
    </div>
  </div>
  {% endfor %}

</div>

{% else %}

<p>{% trans "No resource!" %}</p>

{% endif %}

{% endblock %}
