{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Thank you!" %}{% endblock %}

{% block content %}
<h1>{% trans "Thank you!" %}</h1>
<p>
{% trans "Thank you for your submission, it will be soon reviewed."%}
</p>

{% endblock %}
