{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Ressources – {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  {% block extra_head %}
  {% endblock %}

</head>
<body>

  {% block nav %}

  <nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <a class="navbar-brand" href="{% url 'teaching:index' %}">{% trans "Home" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'teaching:coursematerial-list' %}">{% trans "Resources" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'teaching:organization-list' %}">{% trans "Organizations" %}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
        </li>
        {% else %}
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Administration" %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% endblock %}

  <main id="content" class="{% block main-class %}container-fluid{% endblock %}">

    {% block content %}
    {% endblock %}

  </main>

  <footer id="footer" class="navbar navbar-light bg-light">
    {% block footer %}
    <a href="https://framagit.org/free-skool/teaching-catalogue/" target="_blank">
      {% trans "Source code" %}
    </a>
    <a href="/credits/">
      {% trans "Legal mentions and credits" %}
    </a>
    {% endblock %}
  </footer>

  <script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  {% block extra_js %}
  {% endblock %}
</body>
</html>