{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block main-class %}container{% endblock %}

{% block content %}
<h1>
    {% block h1 %}
    {% if homepage_title %}
        {{ homepage_title}}
    {% else %}
        {% trans "Course material catalogue" %}
    {% endif %}
    {% endblock %}
</h1>

{% block intro %}
{% endblock %}

<h2>{% trans "Three random resources" %}</h2>
<div class="row">

    {% for course in object_list %}
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            {% include "teaching/_partials/course_card.html" %}
        </div>
    </div>
    {% endfor %}

</div>

<p class="text-center">
    <a class="btn btn-lg btn-brown" href="{% url 'teaching:coursematerial-list' %}">{% trans "See all resources" %}</a>
</p>

<p class="text-center">
  <a href="{% url 'teaching:coursematerial-pending-list' %}">&RightArrow; {% trans "Pending course material list" %}</a>
</p>


<form class="add-course-form" action="{% url 'teaching:coursematerial-create' %}" method="get">
    {% csrf_token %}
    <div class="form-inline justify-content-center">
        {% bootstrap_field create_form.page_url layout='inline' form_group_class='form-group mr-sm-2' %}
        <button class="btn btn-info" type="submit">
        {% trans "Add a resource" %}
        </button>
    </div>
</form>

{% endblock %}