{% load i18n markdown_extras %}

<div class="card-body">
    <h2 class="card-title">{{ course }}</h2>
    <p class="card-text">{{ course.description | markdown | safe }}</p>

    <a class="card-link" href="{% url 'teaching:coursematerial-detail' course.pk %}" %}>{% trans "Details" %}</a>
    {% if course.course_url %}
    <a class="card-link" target="_blank" href="{{ course.course_url }}" %}>{% trans "Direct link" %}</a>
    {% endif %}
  </div>
  <div class="card-footer small d-flex">
    <div class="meta flex-grow-1">
      <span class="label">{% trans "License:" %}</span>
      {% if course.resource_license %}
      {{ course.resource_license }}
      {% else %}
      {% trans "Non libre" %}
      {% endif %}
      {% if course.level %}<br>
      <span class="label">{% trans "Level:" %}</span>
      {{ course.level }}
      {% endif %}
      {% if course.tags.all %}<br>
      <span class="label">{% trans "Tags:" %}</span>
      {% for tag in course.tags.all %}
        {{ tag }}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% endif %}
      <br><span class="badge badge-secondary">{{ course.status }}</span>
    </div>

    {% if perms.teaching.change_organization %}
      <div class="text-right">
      <a href="{% url 'teaching:coursematerial-update' course.pk %}" class="btn btn-secondary btn-sm">{% trans "Edit" %}</a>
      </div>
    {% endif %}

  </div>
