{% extends "base.html" %}
{% load i18n static bootstrap4 %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
	<div class="col-md-10 col-lg-6">

    <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post">{% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <input type="submit" value="{% trans 'Reset my password' %}">
        {% endbuttons %}
    </form>
</div>
</div>
{% endblock %}
