/* colors
See https://colorpalettes.net/color-palette-4214/
*/
body {
    background-color: #FDFCF7;
}
.bg-blue {
    background-color: #005086;
}
.bg-bluegray {
    background-color: #3c5b74;
}
.bg-brown {
    background-color: #b67929;
}
.bg-gray {
    background-color: #a3acb1;
}

.btn-brown {
    background-color: #b67929;
    color: #FDFCF7;
}
.btn-brown:hover {
    background-color: #CD801B;
    color: #FDFCF7;
}

/* Layout */
#content {
    min-height: calc(100vh - 96px);
    padding-top: 30px;
}

/* Headings */
.h1, h1 {
    font-size: 2.2rem;
    color: #00243f;
}
.h2, h2 {
    font-size: 1.6rem;
    color: #00243f;
}
.h3, h3 {
    font-size: 1.3rem;
    color: #00243f;
}
.h4, h4 {
    font-size: 1.3rem;
    color: #00243f;
}
.h5, h5 {
    font-size: 1.1rem;
    color: #00243f;
}
.h5, h5 {
    font-size: 1rem;
    color: #00243f;
}

/* Pending and draft cards */
.card.pending, .card.draft {
    opacity: 0.6;
}
.card.pending {
    border-color: var(--warning);
}
.card.draft {
    border-color: var(--gray);
}

# Search form
input, select {width: 100%}
.select2-container {
    min-width: 100%;
}
#id_q_term {
    width: 100%;
}
.form-inline .form-check-input {
    flex-shrink: 1;
}
.search-form {
    padding: 20px;
    background-color: var(--light);
}