{% extends "index.html" %}

{% block h1 %}Ressources pédagogiques libres pour le numérique{% endblock %}

{% block intro %}
<h2>
    Mettre en commun des ressources pédagogiques pour l'éducation populaire au numérique
</h2>
<p>Projet d'application web pour mettre en commun des ressources pédagogique pour une
    l'éducation populaire au numériques. Il fait référence au projet
    <a href="https://potcommun.adn56.net/" target="_blank">Pot commun</a>
</p>
{% endblock %}